.header__principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--secondary-bg-color);
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 3px 0 var(--box-shadow-color);
}

.contenedor__menu__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu__logo__nombre {
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-hover-color);
}

.menu__lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.menu__elemento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.menu__avatar__usuario {
    font-size: 1.5rem;
    color: var(--text-neutro-color);
}

@media screen and (max-width: 600px) {

    .header__principal {
        padding: 1rem 2rem;
    }
    .menu__elemento__usuario {
        display: none;
    }
}