.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--secondary-bg-color);
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 3px 0 var(--box-shadow-color);
}

.header__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__title {
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-hover-color);
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.header__icon {
    font-size: 1.5rem;
    color: var(--text-neutro-color);
}

@media screen and (max-width: 600px) {
    .header {
        padding: 1rem 2rem;
    }
    .header__item--user {
        display: none;
    }
}