/* .parrafo {
    font-size: .8rem;
}

.parrafo__formulario {
    font-weight: 600;
    color: var(--text-neutro-color);
    text-wrap: wrap;
} */

.formulario__parrafo {
    font-size: .8rem;
    font-weight: 600;
    color: var(--text-neutro-color);
    text-wrap: wrap;
}

.formulario__parrafo--center {
    text-align: center;
}

label::selection {
    background-color: transparent;
}