:root {
    --primary-color: #378ADD;
    --primary-hover-color: #0C447C;
    --primary-bg-color: #f5f5f5;
    --secondary-bg-color: #fff;
    --text-neutro-color: #888780;
    --primary--border-color: #D3D1C7;
    --shadow-color: #B5D4F4;
    --lista-elemento-bg-color: #E6F1FB;
    --lista-elemento-bg-color-hover: #B5D4F4;

    --tabla-fila-bg-color1: #E6F1FB;
    --tabla-fila-bg-color2: #B5D4F4;
    --tabla-fila-bg-color1-hover: #85B7EB;
    --tabla-fila-bg-color2-hover: #85B7EB;

    --box-shadow-color: #D3D1C7;
    --secondary-color: #D85A30;
    --secondary-color-bg-color: #F5C4B3;
    --secondary-color-hover-color: #F0997B;
    --sombra-elementos: box-shadow: 0 0 15px 2px #0005;
    --notificacion-bg-color: #097;
    --notificacion-bg-color-hover: #0b7;
}