.main {
    flex-grow: 2;
    width: 100%;
    display: grid;
    grid-template-areas: "menuLateral principal";
    grid-template-columns: auto 1fr;
    position: relative;
}

.sidebar-menu {
    grid-area: menuLateral;
    z-index: 10;
}

.main__content {
    grid-area: principal;
    z-index: 5;
    min-width: 0;
}

.main :is(.sidebar-menu, .main__content){
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 3px 0 var(--box-shadow-color);
    padding: 2rem;
}

@media screen and (max-width: 925px) {
    .main {
        height: auto;
        position: relative;
    }
}