.btn {
    cursor: pointer;
    border: none;
    font-size: .85rem;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 16px;
    text-align: center;
    transition: background-color .2s ease-in-out,
                color .2s ease-in-out;
}

.btn__accion__elemento {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 4px 12px;
    border-radius: 16px;
    transition: background-color .2s ease-in-out,
                color .2s ease-in-out;
}

.btn__modificar {
    background-color: var(--secondary-color);
    color: var(--secondary-bg-color);
    outline: 2px solid var(--secondary-color-hover-color);
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    gap: .5rem; */
}

.btn__modificar:hover {
    background-color: #F0997B;
}

.btn__eliminar {
    background-color: rgb(228, 190, 190);
    color: rgb(202, 16, 16);
    outline: 2px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.btn__eliminar:hover {
    background-color: rgb(228, 156, 156);
}

.btn__primary {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
}

.btn__primary:hover, 
.btn__primary--md:hover {
    background-color: var(--primary-hover-color);
}

.btn__primary--md {
    background-color: var(--primary-color);
    color: #fff;
}

.btn--enlace {
    border: none;
    outline: none;
    padding: 0;
    font-size: .8rem;
    font-weight: 700;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.btn--enlace:hover {
    color: var(--primary-hover-color);
}

.btn__busqueda {
    /* background-color: var(--primary-hover-color); */
    font-size: 1rem;
}

.btn__busqueda:hover {
    background-color: var(--primary--border-color);
}

button.btn__opcion__horario {
    cursor: pointer;
}

span.btn__opcion__horario {
    cursor: auto;
}

.btn__opcion__horario {
    padding: 8px 12px;
    color: #000;
    border-radius: 4px;
    font-weight: 600;
    outline: 2px solid transparent;
    background-color: hsla(0deg, 0%, 70%, .4);
}

.btn__opcion__horario:hover {
    background-color: hsla(0deg, 0%, 70%, .6);
}

.btn__opcion__horario.espacio__seleccionado {
    background-color: var(--primary-color);
    color: #fff;
    outline-color: var(--primary-color);
}

.btn__opcion__horario.espacio__restringido {
    background-color: var(--secondary-color);
    text-decoration: line-through;
}

.btn__opcion__horario.espacio__reservado {
    background-color: var(--lista-elemento-bg-color-hover);
    outline-color: var(--lista-elemento-bg-color-hover);
    text-decoration: line-through;
}

.btn__opcion__horario.espacio__simbologia {
    text-decoration: none;
}

.btn__lista__elemento {
    background-color: var(--secondary-color-bg-color);
    color: var(--secondary-color);
    outline: 2px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.btn__lista__elemento:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-bg-color);
}

.btn__step {
    border: 2px solid var(--primary-color);
    background-color: hsla(210deg, 72%, 72%, .3);
    color: var(--primary-color);
}

.btn__step:hover {
    background-color: hsla(210deg, 72%, 72%, .5);
}

.btn__cancelar {
    background-color: rgb(202, 16, 16);
    color: hsl(0deg, 0%, 100%);
    outline: 2px solid rgb(228, 190, 190);
    position: relative;
}

.btn__confirmar {
    background-color: #097;
    color: hsl(0deg, 0%, 100%);
    outline: 2px solid #0976;
    position: relative;
}

.btn__accion__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: inline-block;
    padding: .5rem;
    font-size: .8rem;
    border-radius: 8px;
    background-color: hsl(0deg, 0%, 20%);
    opacity: 0;
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
}

.btn__accion__elemento:hover .btn__accion__title {
    transform: translate(-50%, -120%) scale(1.05);
    opacity: 1;
}

.btn__export {
    display: none;
}

.btn__export.btn__export-visible {
    display: block;
}

.btn__export:hover {
    background-color: hsla(0deg, 0%, 70%, .6);
}