.main {
    flex-grow: 2;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--primary-bg-color);
}

.main__content {
    --width: 0;
    --max-width: 0;
    width: var(--width);
    max-width: var(--max-width);
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--secondary-bg-color);

    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* .main__section-content */

@media screen and (max-width: 600px) {
    .main {
        padding: 2rem 1rem;
    }
}