.btn {
    cursor: pointer;
    border: none;
    font-size: .85rem;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 16px;
    transition: background-color .2s ease-in-out,
                color .2s ease-in-out;
}

.btn__primary {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
}

.btn__primary:hover {
    background-color: var(--primary-hover-color);
}

.btn--enlace {
    border: none;
    outline: none;
    padding: 0;
    font-size: .8rem;
    font-weight: 700;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.btn--enlace:hover {
    color: var(--primary-hover-color);
}