.stepper__container {
    width: 100%;
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.stepper__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 8px;
    
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px 0 #2221;
}

.stepper__step {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.stepper__step:not(:last-child) {
    flex-grow: 1;
}

.stepper__icon-section {
    position: relative;
    z-index: 10;
}

.stepper__step:not(:last-child) .stepper__icon-section::after,
.stepper__step:not(:last-child) .stepper__icon-section::before {
    content: '';
    height: 4px;
    margin: 0 .75rem;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 35px;
}

.stepper__step:not(:last-child) .stepper__icon-section::after {
    width: calc(100% - 35px - 24px);
    background-color: hsl(0deg, 0%, 70%);
    z-index: 20;
}

.stepper__step:not(:last-child) .stepper__icon-section::before {
    width: 0;
    background-color: hsl(166deg, 100%, 30%);
    z-index: 30;
    transition: width .25s ease-in-out;
}

.stepper__step:not(:last-child) .stepper__icon-section.stepper__icon-section--active::before {
    background-color: hsl(210deg, 100%, 50%);
}

.stepper__step:not(:last-child) .stepper__icon-section.stepper__icon-section--completed::before,
.stepper__step:not(:last-child) .stepper__icon-section.stepper__icon-section--active::before {
    width: calc(100% - 35px - 24px);
}

.stepper__icon-container {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: .25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: hsl(0deg, 0%, 70%);
    background-color: hsla(0deg, 0%, 70%, .2);

    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.stepper__icon-container.stepper__icon-container--completed {
    color: hsl(0deg, 0%, 100%);
    background-color: hsla(166deg, 100%, 30%, 1);
}

.stepper__icon-container.stepper__icon-container--active {
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(210deg, 100%, 50%);
    animation: girarIcon 3s ease-in-out infinite forwards;
}

@keyframes girarIcon {
    to {
        transform: rotate(360deg);
    }
}

.stepper__text-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stepper__step-counter {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: hsl(0deg, 0%, 70%);
}

.stepper__step-title {
    font-size: 1rem;
    font-weight: 600;
    color: hsl(0deg, 0%, 70%);

    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.stepper__step-title.stepper__step-title--active {
    color: hsl(0deg, 0%, 10%);
}

.stepper__step-status {
    margin-top: .5rem;
    display: block;
    padding: .25rem .5rem;
    border-radius: 4px;
    font-size: .7rem;
    font-weight: 700;
    color: hsl(0deg, 0%, 70%);
    background-color: hsla(0deg, 0%, 70%, .2);

    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.stepper__step-status.stepper__step-status--completed {
    color: hsl(166deg, 100%, 30%);
    background-color: hsla(166deg, 100%, 30%, .2);
}

.stepper__step-status.stepper__step-status--active {
    color: hsl(210deg, 100%, 50%);
    background-color: hsla(210deg, 100%, 50%, .2);
}

/* Stepper content */

.stepper__content {
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px 0 #2221;
}

.stepper__panel {
    flex-grow: 1;
    min-height: 0;
    border-radius: 6px;
    display: none;
    transform: scale(.9);
}

.stepper__panel.stepper__panel--active {
    display: block;
    animation: aparecerPanel .5s ease-in-out 1 forwards;
}

/* stepper panel header */
/* title */
.stepper__panel-title-section {
    margin-bottom: 1.5rem;
}

.stepper__panel-title {
    font-size: 1.25rem;
    color: hsl(0deg, 0%, 10%);
}

.stepper__panel-title strong {
    font-weight: 700;
    color: hsl(0deg, 0%, 70%);
}

.stepper__panel-paragraph {
    font-size: .85rem;
    font-weight: 600;
    color: hsl(0deg, 0%, 70%);
}

/* stepper panel search section */
.stepper__panel-search-section {
    width: 100%;
    margin-bottom: .75rem;
}

.search-container {
    width: 100%;
    padding: 10px 12px;
    outline: none;
    border: 2px solid var(--primary--border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: box-shadow .2s ease-in-out, border-color .2s ease-in-out;
}

.icon__search-container {
    color: hsl(0deg, 0%, 70%);
}

.search-container:hover {
    box-shadow: 0 0 3px 2px var(--shadow-color), 
    0 0 10px 2px var(--shadow-color);
}

.search-container:has(.input-search:focus) {
    border-color: var(--primary-color);
}

/* stepper main section */
.stepper__panel-main-section {
    max-height: 400px;
    overflow-y: auto;
}

/* stepper  footer */

.stepper__panel-footer-message {
    display: none;
    font-size: .75rem;
    font-weight: 800;
    color: #d00;
}

.stepper__panel-footer-message.stepper__panel-footer-message--visible {
    display: block;
}

.stepper__panel-footer-message::selection {
    background-color: transparent;
}

.stepper__panel-footer-simbology {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.stepper__footer {
    width: 100%;
    margin-top: .5rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px 0 #2221;
    display: flex;
    justify-content: space-between;
}

@keyframes aparecerPanel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}