.sidebar-menu {
    width: 250px;
    position: relative;
    transition: transform .2s ease-in-out;
}

.sidebar-menu.sidebar-menu--hidden {
    transform: translateX(-100%);
}

.sidebar-menu__toggle-container {
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-menu__toggle-container:nth-child(2) {
    display: none;
    transform: translate(110%);
}

.sidebar-menu__toggle-container.sidebar-menu__toggle-container--show {
    display: block;
}

.sidebar-menu__btn {
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--primary-hover-color);
    font-size: 1.1rem;
    cursor: pointer;
}

.sidebar-menu__btn:hover {
    background: linear-gradient(to top right, var(--secondary-bg-color), var(--shadow-color) 50%);
}

.sidebar-menu__nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-menu__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-menu__title {
    padding-left: .5rem;
    position: relative;
    margin-bottom: .5rem;
}

.sidebar-menu__category {
    font-size: .85rem;
    font-weight: 700;
    color: var(--text-neutro-color);
    transition: text-decoration .2s ease-in-out;
}

.sidebar-menu__section:hover .sidebar-menu__category {
    text-decoration: underline;
}

.sidebar-menu__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar-menu__link {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    font-size: .8rem;
    font-weight: bold;
    color: #333;
    transition: background-color .2s ease-in-out, gap .2s ease-in-out;
    cursor: pointer;
}

.sidebar-menu__icon-box {
    font-size: 1.1rem;
    color: var(--primary-hover-color);
}

.sidebar-menu__link:not(.sidebar-menu__link--logout):hover {
    background-color: var(--shadow-color);
    gap: 1rem;
}

.sidebar-menu__link.sidebar-menu__link--logout {
    width: 100%;
    color: var(--secondary-color);
    font-weight: 800;
}

.sidebar-menu__link.sidebar-menu__link--logout:hover {
    background-color: var(--secondary-color-bg-color);
}

.sidebar-menu__logout-icon-box {
    color: var(--secondary-color);
}

@media screen and (max-width: 925px) {
    .sidebar-menu {
        grid-area: none;
        position: fixed;
        top: 96px;
        left: 0;
    }
}