.main__section-form {
    --width: 100%;
    --max-width: 800px;
}

.form__help-container {
    margin-bottom: .8rem;
    padding-left: 12px;
}

@media screen and (max-width: 950px) {
    .main__content {
        grid-template-columns: 1fr;
    }
}