body {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
}

.main__wrapper {
    flex-grow: 2;
    width: 100%;
    background-color: var(--primary-bg-color);
    padding: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__formulario__login {
    width: clamp(420px, 75%, 1000px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    border-radius: 8px;
    background-color: var(--secondary-bg-color);
    animation: aparecer_abajo 1s ease-in-out 1 forwards;
}

@keyframes aparecer_abajo {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.formulario__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img__logo {
    width: 50px;
}

.nombre__sistema {
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-hover-color);
}

.formulario__login {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formulario__login__titulo {
    display: flex;
    flex-direction: column;
}

.formulario__titulo {
    font-size: clamp(1.25rem, 2vw, 2rem);
    letter-spacing: -2px;
    font-weight: 800;
}

.formulario__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor__input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.enlace {
    font-size: .8rem;
    font-weight: 700;
    color: var(--primary-color);
    transition: color .2s ease-in-out;
}

.enlace:hover {
    color: var(--primary-hover-color);
}

.contenedor__crear__cuenta {
    text-align: center;
}

.parrafo {
    font-size: .8rem;
}

.parrafo__registro {
    font-weight: 600;
    color: var(--text-neutro-color);
}

.contenedor__formulario__img__area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario__img {
    width: 350px;
}

@media screen and (max-width: 1200px) {
    .contenedor__formulario__login {
        gap: 0;
    }

    .formulario__img {
        width: 250px;
    }    
}

@media screen and (max-width: 925px) {
    .main__wrapper {
        padding: 2rem 0;
    }

    .contenedor__formulario__login {
        grid-template-columns: 1fr;
    }

    .formulario__login {
        padding: 0 1rem;
    }

    .contenedor__formulario__img__area {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .main__wrapper {
        padding: 2rem 1rem;
    }

    .contenedor__formulario__login {
        grid-template-columns: 1fr;
    }

    .formulario__login {
        padding: 0 1rem;
    }
}