.section__profile-picture-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/* .profile__picture-container */

/* .profile__picture */

.profile__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}

/* .profile-info-container */

@media screen and (max-width: 1050px) {
    .main__content {
        grid-template-columns: 1fr;
    }

    .form__group--spc-2 {
        grid-column: span 1;
    }
}