.main__section-form {
    --width: 100%;
    --max-width: 400px;
}

.main__section-list {
    --width: 100%;
    --max-width: 100%;
}

/*
    ASIDE
*/

.main__aside {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.aside__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.aside__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 8px 12px;
    background-color: var(--lista-elemento-bg-color);
    border-radius: 8px;
    transition: background-color .2s ease-in-out;
}

.aside__item:hover {
    background-color: var(--lista-elemento-bg-color-hover);
}

.aside__item-name {
    font-size: clamp(.8rem, .85vw, .9rem);
    font-weight: 800;
    color: var(--primary-hover-color);
}

.aside__item-date {
    font-style: italic;
    font-size: .75rem;
    font-weight: 600;
    color: var(--primary-color);
}

@media screen and (max-width: 1050px) {
    .main__content {
        grid-template-columns: 1fr;
    }

    .main__container:last-child {
        display: none;
    }
}