.main__content {
    grid-template-columns: repeat(4, 1fr);
}

.main__section-form {
    --width: 100%;
    --max-width: 600px;
}

.main__section-list {
    --width: 100%;
    --max-width: 100%;
}

.main__list {
    display: flex;
    flex-direction: column;
}

.list__item {
    height: 60px;
    padding: 8px 12px;
    background-color: var(--lista-elemento-bg-color);
    border-radius: 12px;
    transition: background-color .2s ease-in-out;
    display: flex;
}

.list__item :is(.list__info-container, .list__actions-container) {
    flex: 1;
    display: flex;
}

.list__item:hover {
    background-color: var(--lista-elemento-bg-color-hover);
}

.list__info-container {
    flex-direction: column;
    gap: .5rem;
}

.list__info-title {
    font-size: clamp(.8rem, .9vw, .9rem);    font-size: clamp(.8rem, .9vw, .9rem);
    font-weight: 900;
    color: var(--primary-hover-color);
}

.list__info-subtitle {
    font-size: .8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.list__actions-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;
    margin-right: .5rem;
}

@media screen and (max-width: 1200px) {
    .main__content {
        grid-template-columns: 1fr;
    }

    .list__item {
        height: fit-content;
    }
}