.main__content {
    --width: 100%;
    --max-width: 700px;
    animation: aparecer_abajo 1s ease-in-out 1 forwards;
}

@keyframes aparecer_abajo {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main__section-content:last-child {
    margin-top: 1.5rem;
    text-align: center;
}