<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Contraseña</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_inputs.css" th:href="@{/css/compartidos/styles_inputs.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">

    <link rel="stylesheet" href="../static/css/cambioContrasenna.css" th:href="@{/css/cambioContrasenna.css}">
</head>
<body>
    <main class="main__wrapper">
        <div class="contenedor__principal__formulario">
            <form th:action="@{/procesarCambioContrasenna}" method="post" class="formulario__reset" th:object="${usuario}" novalidate>
                <input type="hidden" th:field="*{correo}">
                <section class="formulario__row__section">
                    <h2 class="formulario__titulo">
                        Cambio de Contraseña
                    </h2>
                </section>
                <section class="formulario__row__section">
                    <div class="formulario__section__input">
                        <div class="section__input__encabezado">
                            <p class="section__input__parrafo">
                                Ingrese la nueva contraseña
                            </p>
                        </div>
                        <div class="section__input__main">
                            <div class="contenedor__input">
                                <input type="password" class="input" id="contrasenna" placeholder="" th:field="*{contrasenna}">
                                <label for="contrasenna" class="input__label">Contraseña Nueva</label>
                                <p class="input__error" th:if="${#fields.hasErrors('contrasenna')}" th:errors="*{contrasenna}"></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="formulario__row__section">
                    <button type="submit" class="btn btn__primary">Cambiar Contraseña</button>
                </section>
            </form>
        </div>
    </main>
</body>
</html>