<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración Horario Médico</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_text.css" th:href="@{/css/compartidos/styles_text.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css" th:href="@{/css/compartidos/styles_notificaciones.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_header.css" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_footer.css" th:href="@{/css/compartidos/styles_footer.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_form.css" th:href="@{/css/compartidos/styles_form.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_main_wrapper.css" th:href="@{/css/compartidos/styles_main_wrapper.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_menu_lateral.css" th:href="@{/css/compartidos/styles_menu_lateral.css}">
    
    <link rel="stylesheet" href="../static/css/configuracionHorario.css" th:href="@{/css/configuracionHorario.css}">
</head>
<body>
    <div th:replace="~{fragments::header(mostrarOpcionesMenu=${true}, nombreUsuario=${nombreCompletoUsuario})}"></div>

    <div th:replace="~{fragments::notificacion(${mostrarNotificacion}, ${tipoNotificacion}, ${titulo}, ${detalle})}"></div>

    <main class="main">
        <aside th:replace="~{fragments::menuLateral(${usuarioEsAdmin}, ${idRolUsuario})}"></aside>

        <div class="main__content">
            <div class="contenedor__principal__configuracionHorarios">
                <section class="contenedor__sections">
                    <div class="contenedor__section">

                        <section class="contenedor__titulo__horario">
                            <div class="contenedor__titulo__principal">
                                <h2 class="titulo__principal">
                                    Configuración de horario médico
                                </h2>
                                <p class="descripcion__principal">
                                    Establezca el horario de atención del médico
                                </p>
                            </div>
                        </section>

                        <section class="contenedor__section__formulario">
                            <form th:action="@{/procesar-horario-medico}" method="post" class="formulario__registro__horarios" th:object="${horario}" novalidate>
                                <input type="hidden" th:field="*{id}">
                                <div class="formulario__section__input">
                                    <div class="section__input__encabezado">
                                        <p class="section__input__parrafo">
                                            <span class="section__input__icon">
                                                <i class="fa-solid fa-user-doctor"></i>
                                            </span>
                                            Datos del Médico
                                        </p>
                                        <p class="section__input__parrafo">
                                            Paso <strong>1</strong> de 3
                                        </p>
                                    </div>
                                    <div class="section__input__main">
                                        <div class="contenedor__input">
                                            <select id="especialidades" class="input">
                                                <option th:each="especialidad : ${listaEspecialidades}" th:value="${especialidad.getId()}" th:text="${especialidad.getDescripcion()}">Ortodoncia</option>
                                            </select>
                                            <label for="especialidad" class="input__label">Especialidad</label>
                                        </div>
                                        <div class="contenedor__input">
                                            <select id="idMedico" name="idMedico" class="input">
                                                <option value="">Seleccione una especialidad</option>
                                                <option th:if="${horario.getIdMedico() != null}" th:value="${horario.getIdMedico()}" th:text="${nombreMedicoSeleccionado}" selected></option>
                                            </select>
                                            <label for="idMedico" class="input__label">Médico</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="formulario__section__input">
                                    <div class="section__input__encabezado">
                                        <div class="section__input__encabezado__titulo">
                                            <p class="section__input__parrafo">
                                                <span class="section__input__icon">
                                                    <i class="fa-solid fa-calendar-days"></i>
                                                </span>
                                                Días de atención
                                            </p>
                                            <p class="section__input__parrafo">
                                                Paso <strong>2</strong> de 3
                                            </p>
                                        </div>
                                        <div class="section__input__encabezado__descripcion">
                                            <p class="section__input__descripcion">Seleccione los días que comparten este horario</p>
                                        </div>
                                    </div>
                                    <div class="section__input__main">
                                        <div class="contenedor__input contenedor__input__sp2">
                                            <div class="contenedor__input__inputs">
                                                <div class="input__checkbox">
                                                    <input type="checkbox" name="diasSemana" id="diaSemanaLunes" value="1" th:field="*{diasSemana}">
                                                    <label for="diaSemanaLunes">Lunes</label>
                                                </div>
                                                
                                                <div class="input__checkbox">
                                                    <input type="checkbox" name="diasSemana" id="diaSemanaMartes" value="2" th:field="*{diasSemana}">
                                                    <label for="diaSemanaMartes">Martes</label>
                                                </div>
                                                
                                                <div class="input__checkbox">
                                                    <input type="checkbox" name="diasSemana" id="diaSemanaMiercoles" value="3" th:field="*{diasSemana}">
                                                    <label for="diaSemanaMiercoles">Miércoles</label>
                                                </div>
                                                
                                                <div class="input__checkbox">
                                                    <input type="checkbox" name="diasSemana" id="diaSemanaJueves" value="4" th:field="*{diasSemana}">
                                                    <label for="diaSemanaJueves">Jueves</label>
                                                </div>
                                                
                                                <div class="input__checkbox">
                                                    <input type="checkbox" name="diasSemana" id="diaSemanaViernes" value="5" th:field="*{diasSemana}">
                                                    <label for="diaSemanaViernes">Viernes</label>
                                                </div>
                                            </div>
                                            <p class="input__error" th:if="${#fields.hasErrors('diasSemana')}" th:errors="*{diasSemana}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="formulario__section__input">
                                    <div class="section__input__encabezado">
                                        <p class="section__input__parrafo">
                                            <span class="section__input__icon">
                                                <i class="fa-regular fa-clock"></i>
                                            </span>
                                            Horario de atención
                                        </p>
                                        <p class="section__input__parrafo">
                                            Paso <strong>3</strong> de 3
                                        </p>
                                    </div>
                                    <div class="section__input__main">
                                        <div class="contenedor__input">
                                            <input type="time" class="input" id="horaInicio" name="horaInicio" placeholder="" th:field="*{horaInicio}">
                                            <label for="horaInicio" class="input__label">Hora Inicio</label>
                                            <div class="input__contenedor__mensajes" id="contenedorMensajeHoraInicio">
                                                <p class="input__error" th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}"></p>
                                            </div>
                                        </div>
                                        <div class="contenedor__input">
                                            <input type="time" class="input" id="horaFin" name="horaFin" placeholder="" th:field="*{horaFin}">
                                            <label for="horaFin" class="input__label">Hora Fin</label>
                                            <div class="input__contenedor__mensajes" id="contenedorMensajeHoraFin">
                                                <p class="input__error" th:if="${#fields.hasErrors('horaFin')}" th:errors="*{horaFin}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="formulario__section__input formulario__section__button">
                                    <button type="submit" class="btn btn__primary" id="btnGuardarHorario">Guardar horario</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments::footer}"></div>

    <script src="../static/js/notificaciones.js" th:src="@{/js/notificaciones.js}"></script>
    <script src="../static/js/menuLateral.js" th:src="@{/js/menuLateral.js}"></script>
    <script src="../static/js/configuracionHorariosMedicos.js" th:src="@{/js/configuracionHorariosMedicos.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>