<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración Horario Médico</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_text.css" th:href="@{/css/compartidos/styles_text.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css" th:href="@{/css/compartidos/styles_notificaciones.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_header.css" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_footer.css" th:href="@{/css/compartidos/styles_footer.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_form.css" th:href="@{/css/compartidos/styles_form.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_main_wrapper.css" th:href="@{/css/compartidos/styles_main_wrapper.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_menu_lateral.css" th:href="@{/css/compartidos/styles_menu_lateral.css}">
    
    <link rel="stylesheet" href="../static/css/configuracionHorario.css" th:href="@{/css/configuracionHorario.css}">
</head>
<body>
    <div th:replace="~{fragments::header(mostrarOpcionesMenu=${true}, nombreUsuario=${nombreCompletoUsuario})}"></div>

    <div th:replace="~{fragments::notificacion(${mostrarNotificacion}, ${tipoNotificacion}, ${titulo}, ${detalle})}"></div>

    <main class="main">
        <aside th:replace="~{fragments::menuLateral(${usuarioEsAdmin}, ${idRolUsuario})}"></aside>

        <div class="main__content">

            <div class="main__container main__container--spc-3">
                <div class="main__section">
                    <section class="main__section-title">
                        <h2 class="main__title">
                            Configuración de horario médico
                        </h2>
                        <p class="main__subtitle">
                            Establezca el horario de atención del médico
                        </p>
                    </section>

                    <section class="main__section-form">
                        <form th:action="@{/procesar-horario-medico}" method="post" class="form" th:object="${horario}" novalidate>
                            <input type="hidden" th:field="*{id}">
    
                            <div class="form__section">
                                <div class="form__legend-section">
                                    <p class="form__legend">
                                        <span class="form__icon-box">
                                            <i class="fa-solid fa-user-doctor"></i>
                                        </span>
                                        Datos del Médico
                                    </p>
                                    <p class="form__legend">
                                        Paso <strong class="form__step-counter">1</strong> de 3
                                    </p>
                                </div>
                                <div class="form__inputs-section">
                                    <div class="form__group">
                                        <select id="especialidades" class="form__input">
                                            <option th:each="especialidad : ${listaEspecialidades}" th:value="${especialidad.getId()}" th:text="${especialidad.getDescripcion()}">Ortodoncia</option>
                                        </select>
                                        <label for="especialidad" class="form__label">Especialidad</label>
                                    </div>
                                    <div class="form__group">
                                        <select id="idMedico" name="idMedico" class="form__input">
                                            <option value="">Seleccione una especialidad</option>
                                            <option th:if="${horario.getIdMedico() != null}" th:value="${horario.getIdMedico()}" th:text="${nombreMedicoSeleccionado}" selected></option>
                                        </select>
                                        <label for="idMedico" class="form__label">Médico</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form__section">
                                <div class="form__legend-section">
                                    <p class="form__legend">
                                        <span class="form__icon-box">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </span>
                                        Días de atención
                                    </p>
                                    <p class="form__legend">
                                        Paso <strong class="form__step-counter">2</strong> de 3
                                    </p>
                                </div>
    
                                <div class="form__help-container">
                                    <p class="form__paragraph">Seleccione los días que comparten este horario</p>
                                </div>
    
                                <div class="form__inputs-section">
                                    <div class="form__group form__group--spc-2">
                                        <div class="form__checkboxes-container">
                                            <div class="form__group-checkbox">
                                                <input type="checkbox" class="form__input-checkbox" name="diasSemana" id="diaSemanaLunes" value="1" th:field="*{diasSemana}">
                                                <label for="diaSemanaLunes" class="form__label-checkbox">Lunes</label>
                                            </div>
                                            
                                            <div class="form__group-checkbox">
                                                <input type="checkbox" class="form__input-checkbox" name="diasSemana" id="diaSemanaMartes" value="2" th:field="*{diasSemana}">
                                                <label for="diaSemanaMartes" class="form__label-checkbox">Martes</label>
                                            </div>
                                            
                                            <div class="form__group-checkbox">
                                                <input type="checkbox" class="form__input-checkbox" name="diasSemana" id="diaSemanaMiercoles" value="3" th:field="*{diasSemana}">
                                                <label for="diaSemanaMiercoles" class="form__label-checkbox">Miércoles</label>
                                            </div>
                                            
                                            <div class="form__group-checkbox">
                                                <input type="checkbox" class="form__input-checkbox" name="diasSemana" id="diaSemanaJueves" value="4" th:field="*{diasSemana}">
                                                <label for="diaSemanaJueves" class="form__label-checkbox">Jueves</label>
                                            </div>
                                            
                                            <div class="form__group-checkbox">
                                                <input type="checkbox" class="form__input-checkbox" name="diasSemana" id="diaSemanaViernes" value="5" th:field="*{diasSemana}">
                                                <label for="diaSemanaViernes" class="form__label-checkbox">Viernes</label>
                                            </div>
                                        </div>
                                        <p class="form__paragraph--error" th:if="${#fields.hasErrors('diasSemana')}" th:errors="*{diasSemana}"></p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form__section">
                                <div class="form__legend-section">
                                    <p class="form__legend">
                                        <span class="form__icon-box">
                                            <i class="fa-regular fa-clock"></i>
                                        </span>
                                        Horario de atención
                                    </p>
                                    <p class="form__legend">
                                        Paso <strong class="form__step-counter">3</strong> de 3
                                    </p>
                                </div>
                                <div class="form__inputs-section">
                                    <div class="form__group">
                                        <input type="time" class="form__input" id="horaInicio" name="horaInicio" placeholder="" th:field="*{horaInicio}">
                                        <label for="horaInicio" class="form__label">Hora Inicio</label>
                                        <div class="input__contenedor__mensajes" id="contenedorMensajeHoraInicio">
                                            <p class="form__paragraph--error" th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}"></p>
                                        </div>
                                    </div>
                                    <div class="form__group">
                                        <input type="time" class="form__input" id="horaFin" name="horaFin" placeholder="" th:field="*{horaFin}">
                                        <label for="horaFin" class="form__label">Hora Fin</label>
                                        <div class="input__contenedor__mensajes" id="contenedorMensajeHoraFin">
                                            <p class="form__paragraph--error" th:if="${#fields.hasErrors('horaFin')}" th:errors="*{horaFin}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form__actions">
                                <button type="submit" class="btn btn__primary" id="btnGuardarHorario">Guardar horario</button>
                            </div>
    
                        </form>
                    </section>
                </div>
            </div>

        </div>
    </main>

    <div th:replace="~{fragments::footer}"></div>

    <script src="../static/js/notificaciones.js" th:src="@{/js/notificaciones.js}"></script>
    <script src="../static/js/menuLateral.js" th:src="@{/js/menuLateral.js}"></script>
    <script src="../static/js/configuracionHorariosMedicos.js" th:src="@{/js/configuracionHorariosMedicos.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>