<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${cuentaNueva.getId() == null} ? 'Creación de cuenta' : 'Modificación de datos'">Registro de Pacientes</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_inputs.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_text.css">
    <link rel="stylesheet" href="../static/css/registroPacientes.css">

    <link rel="stylesheet" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_inputs.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_text.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_footer.css}">
    <link rel="stylesheet" th:href="@{/css/registroPacientes.css}">
</head>
<body>

    <div th:replace="~{fragments::header(mostrarOpcionesMenu=${false}, nombreUsuario=${''})}"></div>

    <main class="main__wrapper">
        <div class="contenedor__principal__formulario">
            <section class="formulario__row__section">
                <h2 class="formulario__titulo" th:text="${cuentaNueva.getId() == null} ? 'Crear una cuenta' : 'Modificar datos'">
                    Crear una cuenta
                </h2>
            </section>
            <section class="formulario__row__section">
                <form th:action="@{/cuentaNueva}" method="post" class="formulario" th:object="${cuentaNueva}" novalidate>
                    <input type="hidden" th:if="${esUnPaciente == 'S'}" th:field="*{rol.id}">
                    <input type="hidden" name="origenPeticion" th:value="${esUnPaciente}">

                    <div class="formulario__section__input">
                        <div class="section__input__encabezado">
                            <p class="section__input__parrafo">
                                <span class="section__input__icon">
                                    <i class="fa-solid fa-user-injured"></i>
                                </span>
                                Datos Personales Titular
                            </p>
                            <p class="section__input__parrafo">
                                Paso <strong>1</strong> de 3
                            </p>
                        </div>
                        <div class="section__input__main">
                            <div class="contenedor__input">
                                <select id="tipoIdentificacion" class="input" th:field="*{tipoIdentificacion.id}">
                                    <option th:each="tipoIdentificacion : ${listaTipoIdentificacion}" th:value="${tipoIdentificacion.getId()}" th:text="${tipoIdentificacion.getDescripcion()}">Rol</option>
                                </select>
                                <label for="tipoIdentificacion" class="input__label">Tipo Identificación</label>
                                <p class="input__error" th:if="${#fields.hasErrors('tipoIdentificacion.id')}" th:errors="*{tipoIdentificacion.id}"></p>
                            </div>
                            <div class="contenedor__input">
                                <input type="text" class="input" id="identificacion" placeholder="" th:field="*{identificacion}">
                                <label for="identificacion" class="input__label">Identificación</label>
                                <p class="input__error" th:if="${#fields.hasErrors('identificacion')}" th:errors="*{identificacion}"></p>
                            </div>
                            <div class="contenedor__input contenedor__input__sp2">
                                <input type="text" class="input" id="nombre" placeholder="" th:field="*{nombre}">
                                <label for="nombre" class="input__label">Nombre</label>
                                <p class="input__error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                            </div>
                            <div class="contenedor__input">
                                <input type="text" class="input" id="primerApellido" placeholder="" th:field="*{primerApellido}">
                                <label for="primerApellido" class="input__label">Primer Apellido</label>
                                <p class="input__error" th:if="${#fields.hasErrors('primerApellido')}" th:errors="*{primerApellido}"></p>
                            </div>
                            <div class="contenedor__input">
                                <input type="text" class="input" id="segundoApellido" placeholder="" th:field="*{segundoApellido}">
                                <label for="segundoApellido" class="input__label">Segundo Apellido</label>
                                <p class="input__error" th:if="${#fields.hasErrors('segundoApellido')}" th:errors="*{segundoApellido}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="formulario__section__input">
                        <div class="section__input__encabezado">
                            <p class="section__input__parrafo">
                                <span class="section__input__icon">
                                    <i class="fa-solid fa-phone-flip"></i>
                                </span>
                                Datos para Contacto
                            </p>
                            <p class="section__input__parrafo">
                                Paso <strong>2</strong> de 3
                            </p>
                        </div>
                        <div class="section__input__main">
                            <div class="contenedor__input contenedor__input__sp2">
                                <input type="email" class="input" id="correo" placeholder="" th:field="*{correoElectronico}">
                                <label for="correo" class="input__label">Correo</label>
                                <p class="input__error" th:if="${#fields.hasErrors('correoElectronico')}" th:errors="*{correoElectronico}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="formulario__section__input">
                        <div class="section__input__encabezado">
                            <p class="section__input__parrafo">
                                <span class="section__input__icon">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                                Datos para Acceso
                            </p>
                            <p class="section__input__parrafo">
                                Paso <strong>3</strong> de 3
                            </p>
                        </div>
                        <div class="section__input__main">
                            <div class="contenedor__input contenedor__input__sp2">
                                <input type="password" class="input" id="password" placeholder="" th:field="*{contrasennaHash}">
                                <label for="password" class="input__label">Contraseña</label>
                                <p class="input__error" th:if="${#fields.hasErrors('contrasennaHash')}" th:errors="*{contrasennaHash}"></p>
                            </div>
                            <div class="contenedor__input contenedor__input__sp2" th:if="${esUnPaciente == 'N'}">
                                <select id="rolUsuario" class="input" th:field="*{rol.id}">
                                    <option th:each="rol : ${listaRoles}" th:value="${rol.getId()}" th:text="${rol.getDescripcion()}">Paciente</option>
                                </select>
                                <label for="rolUsuario" class="input__label">Rol Usuario</label>
                                <p class="input__error" th:if="${#fields.hasErrors('rol.id')}" th:errors="*{rol.id}"></p>
                            </div>
                            <div class="contenedor__input contenedor__input__sp2" th:if="${esUnPaciente == 'N'}">
                                <select id="estadoUsuario" class="input" th:field="*{estado.id}">
                                    <option th:each="estado : ${listaEstados}" th:value="${estado.getId()}" th:text="${estado.getDescripcion()}">Activo</option>
                                </select>
                                <label for="estadoUsuario" class="input__label">Estado Usuario</label>
                                <p class="input__error" th:if="${#fields.hasErrors('estado.id')}" th:errors="*{estado.id}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="formulario__section__input formulario__section__button">
                        <button type="submit" class="btn btn__primary">Crear cuenta</button>
                    </div>
                    
                </form>
            </section>
            <section class="formulario__row__section" th:if="${esUnPaciente == 'S'}">
                <p class="formulario__parrafo formulario__parrafo--center">
                    ¿Ya tienes una cuenta? <a th:href="@{/}" class="formulario__enlace">Inicia Sesión</a>
                </p>
            </section>
        </div>
    </main>

    <div th:replace="~{fragments::footer}"></div>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>