<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>

    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_text.css" th:href="@{/css/compartidos/styles_text.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_header.css" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_footer.css" th:href="@{/css/compartidos/styles_footer.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_main_wrapper.css" th:href="@{/css/compartidos/styles_main_wrapper.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_menu_lateral.css" th:href="@{/css/compartidos/styles_menu_lateral.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css" th:href="@{/css/compartidos/styles_notificaciones.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_tabla_registros.css" th:href="@{/css/compartidos/styles_tabla_registros.css}">
    <link rel="stylesheet" href="../static/css/configuracionHorario.css" th:href="@{/css/configuracionHorario.css}">
</head>
<body>
    <header class="header" th:fragment="header (mostrarOpcionesMenu, nombreUsuario)">
        <div class="header__container">
            <img src="../static/img/hospital.png" th:src="@{/img/hospital.png}" alt="Sticker de un hospital estilo animado" class="header__img">
            <span class="header__title">Hospital MR</span>
        </div>
        <div class="header__container" th:if="${mostrarOpcionesMenu}">
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item header__item--user">
                        <p class="header__paragraph">Bienvenido, </p>
                        <span class="header__icon">
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                        <p class="header__paragraph" th:text="${nombreUsuario}">
                            John Doe
                        </p>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="notification" id="contenedorNotificacion" th:fragment="notificacion (mostrarNotificacion, tipoNotificacion, titulo, detalle)" th:if="${mostrarNotificacion}" th:classappend="${tipoNotificacion == 'success'} ? ' notification--success' : ' notification--warning'">
        <div class="notification__container">
            <div class="notification__icon-box">
                <span class="notification__icon">
                    <i th:if="${tipoNotificacion == 'success'}" class="fa-solid fa-circle-check"></i>
                    <i th:unless="${tipoNotificacion == 'success'}" class="fa-solid fa-triangle-exclamation"></i>
                </span>
            </div>
            <div class="notification__content">
                <h3 class="notification__title" th:text="${titulo}">¡Horario no válido!</h3>
                <p class="notification__paragraph" th:text="${detalle}">El rango horario ya se encuentra definido</p>
            </div>
        </div>
    </div>

    <main class="main">

        <aside class="sidebar-menu" id="sidebarMenu" th:fragment="menuLateral (esAdmin, idUsuario)">
            <div class="sidebar-menu__toggle-container" id="toggleMenuClose">
                <button type="button" class="sidebar-menu__btn" id="btnToggleMenuClose">
                    <i class="fa-solid fa-minimize"></i>
                </button>
            </div>
            <div class="sidebar-menu__toggle-container" id="toggleMenuOpen">
                <button type="button" class="sidebar-menu__btn" id="btnToggleMenuOpen">
                    <i class="fa-solid fa-maximize"></i>
                </button>
            </div>

            <nav class="sidebar-menu__nav" id="menuLateral">
                <div class="sidebar-menu__container">
                    <section class="sidebar-menu__section" th:if="${esAdmin}">
                        <div class="sidebar-menu__title">
                            <h2 class="sidebar-menu__category">Medicina</h2>
                        </div>
                        <div class="sidebar-menu__links-container">
                            <ul class="sidebar-menu__list">
                                <li class="sidebar-menu__item">
                                    <a href="#" th:href="@{/especialidades}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-solid fa-shapes"></i>
                                        </span>
                                        Especialidades
                                    </a>
                                </li>
                                <li class="sidebar-menu__item">
                                    <a href="#" th:href="@{/medicos}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-solid fa-user-doctor"></i>
                                        </span>
                                        Médicos
                                    </a>
                                </li>
                                <li class="sidebar-menu__item">
                                    <a href="#" th:href="@{/configuracion-horario}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-regular fa-calendar"></i>
                                        </span>
                                        Horarios
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="sidebar-menu__section">
                        <div class="sidebar-menu__title">
                            <h2 class="sidebar-menu__category">Reservas</h2>
                        </div>
                        <div class="sidebar-menu__links-container">
                            <ul class="sidebar-menu__list">
                                <li class="sidebar-menu__item" th:if="${!esAdmin}">
                                    <a href="#" th:href="@{/reservar}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-solid fa-hand-holding-medical"></i>
                                        </span>
                                        Reservar
                                    </a>
                                </li>
                                <li class="sidebar-menu__item">
                                    <a href="#" th:href="@{/mostrar-horario}" class="sidebar-menu__link">
                                    <span class="sidebar-menu__icon-box">
                                        <i class="fa-regular fa-calendar-days"></i>
                                    </span>
                                        Horarios Disponibles
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="sidebar-menu__section" th:if="${esAdmin}">
                        <div class="sidebar-menu__title">
                            <h2 class="sidebar-menu__category">Reportes</h2>
                        </div>
                        <div class="sidebar-menu__links-container">
                            <ul class="sidebar-menu__list">
                                <li class="sidebar-menu__item">
                                    <a href="#" th:href="@{/reporte-especialidades}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-solid fa-clipboard-user"></i>
                                        </span>
                                        Especialidades
                                    </a>
                                </li>
                                <li class="sidebar-menu__item">
                                    <a href="#" th:href="@{/reporte-citas}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-solid fa-clipboard-check"></i>
                                        </span>
                                        Citas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="sidebar-menu__section">
                        <div class="sidebar-menu__title">
                            <h2 class="sidebar-menu__category">Usuarios</h2>
                        </div>
                        <div class="sidebar-menu__links-container">
                            <ul class="sidebar-menu__list">
                                <li class="sidebar-menu__item">
                                    <a href="#" th:href="@{/mi-perfil/{id}(id=${idUsuario})}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </span>
                                        Mi Perfil
                                    </a>
                                </li>
                                <li class="sidebar-menu__item" th:if="${esAdmin}">
                                    <a href="#" th:href="@{/mostrar-panel-pacientes}" class="sidebar-menu__link">
                                        <span class="sidebar-menu__icon-box">
                                            <i class="fa-solid fa-users"></i>
                                        </span>
                                        Pacientes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div class="sidebar-menu__logout-container">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="sidebar-menu__link sidebar-menu__link--logout">
                            <span class="sidebar-menu__logout-icon-box">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </span>
                            Cerrar Sesión
                        </button>
                    </form>
                </div>
            </nav>
        </aside>

        <div class="main__content">
            <section class="contenedor__titulo__horario">
                <div class="contenedor__titulo__principal">
                    <h2 class="titulo__principal">
                        Horario encontrado
                    </h2>
                    <p class="descripcion__principal">
                        Ajuste el horario del médico
                    </p>
                </div>
            </section>

            <button id="btnCrear">Crear</button>
            <div class="contenedor__section__tabla">
                <div class="contenedor__tabla__registros">
                    <form action="/" method="post">
                        <table class="tabla__registros">
                            <thead>
                                <tr>
                                    <th>idRegistro</th>
                                    <th>idDia</th>
                                    <th>Día</th>
                                    <th>Hora Inicio</th>
                                    <th>Hora Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="hidden" id="id" name="id">
                                    </td>
                                    <td>
                                        <input type="hidden" id="idDia" name="idDia">
                                    </td>
                                    <td>
                                        Lunes
                                    </td>
                                    <td>
                                        <input type="time" id="horaInicio" name="horaInicio">
                                    </td>
                                    <td>
                                        <input type="time" id="horaFin" name="horaFin">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" id="id" name="id">
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        Martes
                                    </td>
                                    <td>
                                        <input type="time" id="horaInicio" name="horaInicio">
                                    </td>
                                    <td>
                                        <input type="time" id="horaFin" name="horaFin">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" id="id" name="id">
                                    </td>
                                    <td>
                                        <input type="hidden" id="idDia" name="idDia">
                                    </td>
                                    <td>
                                        Miércoles
                                    </td>
                                    <td>
                                        <input type="time" id="horaInicio" name="horaInicio">
                                    </td>
                                    <td>
                                        <input type="time" id="horaFin" name="horaFin">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" id="id" name="id">
                                    </td>
                                    <td>
                                        <input type="hidden" id="idDia" name="idDia">
                                    </td>
                                    <td>
                                        Jueves
                                    </td>
                                    <td>
                                        <input type="time" id="horaInicio" name="horaInicio">
                                    </td>
                                    <td>
                                        <input type="time" id="horaFin" name="horaFin">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" id="id" name="id">
                                    </td>
                                    <td>
                                        <input type="hidden" id="idDia" name="idDia">
                                    </td>
                                    <td>
                                        Viernes
                                    </td>
                                    <td>
                                        <input type="time" id="horaInicio" name="horaInicio">
                                    </td>
                                    <td>
                                        <input type="time" id="horaFin" name="horaFin">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <button type="submit">Guardar Cambios</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer" th:fragment="footer">
        <p class="footer__paragraph">&copy; Todos los derechos reservados</p>
        <p class="footer__paragraph">Desarrollado por: <strong><a href="/" target="_blank" class="footer__link">Andrei Mesén Romero</a></strong>
        </p>
        <p class="footer__paragraph">2026 - Costa Rica</p>
    </footer>

    <script src="../static/js/menuLateral.js" th:src="@{/js/menuLateral.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>