<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Pacientes</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_text.css" th:href="@{/css/compartidos/styles_text.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_header.css" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_footer.css" th:href="@{/css/compartidos/styles_footer.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_form.css" th:href="@{/css/compartidos/styles_form.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_tabla.css" th:href="@{/css/compartidos/styles_tabla.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_main_wrapper.css" th:href="@{/css/compartidos/styles_main_wrapper.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_menu_lateral.css" th:href="@{/css/compartidos/styles_menu_lateral.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css" th:href="@{/css/compartidos/styles_notificaciones.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_pagination.css" th:href="@{/css/compartidos/styles_pagination.css}">
    
    <link rel="stylesheet" href="../static/css/panelPacientes.css" th:href="@{/css/panelPacientes.css}">
</head>
<body>
    <div th:replace="~{fragments::header(mostrarOpcionesMenu=${true}, nombreUsuario=${nombreCompletoUsuario})}"></div>
    <div th:replace="~{fragments::notificacion(${mostrarNotificacion}, ${tipoNotificacion}, ${titulo}, ${detalle})}"></div>

    <main class="main">
        <aside th:replace="~{fragments::menuLateral(${usuarioEsAdmin}, ${idRolUsuario})}"></aside>

        <div class="main__content">
            <div class="main__container-pacientes">

                <div class="main__pacientes-section">
                    <section class="main__section">
                        <h2 class="main__title">
                            Panel de administración / Pacientes
                        </h2>
                        <p class="main__subtitle">
                            Gestiona las cuentas de los pacientes del hospital. O bien también puedes <a th:href="@{/cuenta-nueva}" class="main__link">crear una cuenta</a>
                        </p>
                    </section>
                    <section class="main__section">
                        <div class="table__container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Identificación</th>
                                        <th>Paciente</th>
                                        <th>Registro</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="paciente : ${listaPacientes}">
                                        <td th:text="${paciente.getIdentificacion()}">305310569</td>
                                        <td th:text="${paciente.getNombreCompleto()}">Andrei Mesén Romero</td>
                                        <td th:text="${paciente.getFechaRegistro()}">02/07/2026</td>
                                        <td>
                                            <span th:if="${paciente.getEstado() == 4}" class="state__container state__container--active">Activo</span>
                                            <span th:unless="${paciente.getEstado() == 4}" class="state__container state__container--inactive">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="table__action-container">
                                                <a href="/" th:href="@{/mi-perfil/{id}(id=${paciente.getId()})}" class="btn__accion__elemento btn__modificar">
                                                    <span class="lista__elemento__icono">
                                                        <i class="fa-solid fa-pencil"></i>
                                                    </span>
                                                    <span class="btn__accion__title">Editar</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <div class="pagination__container">
                                                <div class="pagination__info">
                                                    <p class="pagination__paragraph">
                                                        Total de registros: <strong class="pagination__total">0</strong>
                                                    </p>
                                                </div>
        
                                                <div class="pagination__items-container">
                                                    <button class="btn btn__pagination" onclick="paginaAnterior()">
                                                        <i class="fa-solid fa-angle-left"></i>
                                                    </button>
        
                                                    <div class="pagination__items" id="paginationItems">
                                                        <button class="btn btn__pagination">1</button>
                                                        <button class="btn btn__pagination btn__pagination--active">2</button>
                                                        <button class="btn btn__pagination">3</button>
                                                        <button class="btn btn__pagination">4</button>
                                                    </div>
        
                                                    <button class="btn btn__pagination" onclick="paginaSiguiente()">
                                                        <i class="fa-solid fa-angle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="message-data__container"></div>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments::footer}"></div>

    <script src="../static/js/panelGestionPacientes.js" th:src="@{/js/panelGestionPacientes.js}"></script>
    <script src="../static/js/notificaciones.js" th:src="@{/js/notificaciones.js}"></script>
    <script src="../static/js/menuLateral.js" th:src="@{/js/menuLateral.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>