<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Médicos</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_inputs.css" th:href="@{/css/compartidos/styles_inputs.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_header.css" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_footer.css" th:href="@{/css/compartidos/styles_footer.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_main_wrapper.css" th:href="@{/css/compartidos/styles_main_wrapper.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_menu_lateral.css" th:href="@{/css/compartidos/styles_menu_lateral.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css" th:href="@{/css/compartidos/styles_notificaciones.css}">

    <link rel="stylesheet" href="../static/css/registroMedicos.css" th:href="@{/css/registroMedicos.css}">
</head>
<body>
    <div th:replace="~{fragments::header(mostrarOpcionesMenu=${true}, nombreUsuario=${nombreCompletoUsuario})}"></div>
    <div th:replace="~{fragments::notificacion(${mostrarNotificacion}, ${tipoNotificacion}, ${titulo}, ${detalle})}"></div>

    <div class="contenedor__wrapper">
        <div th:replace="~{fragments::menuLateral(${usuarioEsAdmin}, ${idRolUsuario})}"></div>
        <main class="contenedor__principal">

            <div class="contenedor__principal__medicos">
                <div class="contenedor__medicos__section contenedor__medicos__section__registro">
                    <div class="contenedor__section">
                        <section class="contenedor__titulo__principal">
                            <h2 class="titulo__principal">
                                Registro de médicos
                            </h2>
                            <p class="descripcion__principal">
                                Agregue una nuevo médico al sistema
                            </p>
                        </section>
            
                        <section class="contenedor__formulario__medicos">
                            <form th:action="@{/registro-medico}" method="post" class="formulario__registro" th:object="${medico}" novalidate>
                                <input type="hidden" th:field="*{id}">
                                <div class="formulario__section__input">
                                    <div class="section__input__main">
                                        <div class="contenedor__input contenedor__input__sp2">
                                            <input type="text" class="input" id="nombre" placeholder="" th:field="*{nombre}">
                                            <label for="nombre" class="input__label">Nombre</label>
                                            <p class="input__error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                                        </div>
                                        <div class="contenedor__input">
                                            <input type="text" class="input" id="primerApellido" placeholder="" th:field="*{primerApellido}">
                                            <label for="primerApellido" class="input__label">Primer Apellido</label>
                                            <p class="input__error" th:if="${#fields.hasErrors('primerApellido')}" th:errors="*{primerApellido}"></p>
                                        </div>
                                        <div class="contenedor__input">
                                            <input type="text" class="input" id="segundoApellido" placeholder="" th:field="*{segundoApellido}">
                                            <label for="segundoApellido" class="input__label">Segundo Apellido</label>
                                            <p class="input__error" th:if="${#fields.hasErrors('segundoApellido')}" th:errors="*{segundoApellido}"></p>
                                        </div>
                                        <div class="contenedor__input contenedor__input__sp2">
                                            <select name="especialidad" id="especialidad" class="input" placeholder="" th:field="*{idEspecialidad}">
                                                <option th:each="especialidad : ${listaEspecialidades}" th:text="${especialidad.getDescripcion()}" th:value="${especialidad.getId()}">Psicología</option>
                                            </select>
                                            <label for="especialidad" class="input__label">Especialidad</label>
                                            <p class="input__error" th:if="${#fields.hasErrors('idEspecialidad')}" th:errors="*{idEspecialidad}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="formulario__section__button">
                                    <button type="submit" class="btn btn__primary">Agregar</button>
                                </div>
                            </form>
                        </section>
                    </div>

                    <div class="contenedor__section">
                        <section class="contenedor__titulo__principal">
                            <h2 class="titulo__principal">
                                Listado de médicos
                            </h2>
                            <p class="descripcion__principal">
                                Estos son los médicos que han sido registrados
                            </p>
                        </section>
    
                        <section class="contenedor__listado__registros">
                            <div class="contenedor__listado">

                                <div class="lista__elemento__registro" th:each="medico : ${listaMedicos}">
                                    <div class="lista__elemento__info">
                                        <h2 class="elemento__info__nombre" th:text="${medico.getNombre()} + ' ' + ${medico.getPrimerApellido()} + ' ' + ${medico.getSegundoApellido()}">Luisa Viquez Chan</h2>
                                        <p class="elemento__info__especialidad" th:text="${medico.getNombreEspecialidad()}">Cardiología</p>
                                    </div>
                                    <div class="lista__elemento__acciones">
                                        <a href="/" th:href="@{/buscar-medico/{id}(id=${medico.getId()})}" class="btn__accion__elemento btn__modificar" title="Modificar Médico">
                                            <span class="lista__elemento__icono">
                                                <i class="fa-solid fa-pencil"></i>
                                            </span>
                                        </a>
    
                                        <a href="/" th:href="@{/deshabilitar-medico/{id}(id=${medico.getId()})}" class="btn__accion__elemento btn__eliminar" title="Eliminar Médico">
                                            <span class="lista__elemento__icono">
                                                <i class="fa-solid fa-times"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </main>
    </div>


    <div th:replace="~{fragments::footer}"></div>

    <script src="../static/js/notificaciones.js" th:src="@{/js/notificaciones.js}"></script>
    <script src="../static/js/menuLateral.js" th:src="@{/js/menuLateral.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>