<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Médicos</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_text.css" th:href="@{/css/compartidos/styles_text.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_header.css" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_footer.css" th:href="@{/css/compartidos/styles_footer.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_form.css" th:href="@{/css/compartidos/styles_form.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_main_wrapper.css" th:href="@{/css/compartidos/styles_main_wrapper.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_menu_lateral.css" th:href="@{/css/compartidos/styles_menu_lateral.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css" th:href="@{/css/compartidos/styles_notificaciones.css}">

    <link rel="stylesheet" href="../static/css/registroMedicos.css" th:href="@{/css/registroMedicos.css}">
</head>
<body>
    <div th:replace="~{fragments::header(mostrarOpcionesMenu=${true}, nombreUsuario=${nombreCompletoUsuario})}"></div>
    <div th:replace="~{fragments::notificacion(${mostrarNotificacion}, ${tipoNotificacion}, ${titulo}, ${detalle})}"></div>

    <main class="main">
        <aside th:replace="~{fragments::menuLateral(${usuarioEsAdmin}, ${idRolUsuario})}"></aside>
        
        <div class="main__content">
            <div class="main__container main__container--spc-2">
                <div class="main__section">
                    <section class="main__section-title">
                        <h2 class="main__title">
                            Registro de médicos
                        </h2>
                        <p class="main__subtitle">
                            Agregue una nuevo médico al sistema
                        </p>
                    </section>
                </div>

                <div class="main__section">
                    <section class="main__section-form">
                        <form th:action="@{/registro-medico}" method="post" class="form" th:object="${medico}" novalidate>
                            <input type="hidden" th:field="*{id}">

                            <div class="form__section">
                                <div class="form__inputs-section">
                                    <div class="form__group form__group--spc-2">
                                        <input type="text" class="form__input" id="nombre" placeholder="" th:field="*{nombre}">
                                        <label for="nombre" class="form__label">Nombre</label>
                                        <p class="form__paragraph--error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                                    </div>
                                    <div class="form__group">
                                        <input type="text" class="form__input" id="primerApellido" placeholder="" th:field="*{primerApellido}">
                                        <label for="primerApellido" class="form__label">Primer Apellido</label>
                                        <p class="form__paragraph--error" th:if="${#fields.hasErrors('primerApellido')}" th:errors="*{primerApellido}"></p>
                                    </div>
                                    <div class="form__group">
                                        <input type="text" class="form__input" id="segundoApellido" placeholder="" th:field="*{segundoApellido}">
                                        <label for="segundoApellido" class="form__label">Segundo Apellido</label>
                                        <p class="form__paragraph--error" th:if="${#fields.hasErrors('segundoApellido')}" th:errors="*{segundoApellido}"></p>
                                    </div>
                                    <div class="form__group form__group--spc-2">
                                        <select name="especialidad" id="especialidad" class="form__input" placeholder="" th:field="*{idEspecialidad}">
                                            <option th:each="especialidad : ${listaEspecialidades}" th:text="${especialidad.getDescripcion()}" th:value="${especialidad.getId()}">Psicología</option>
                                        </select>
                                        <label for="especialidad" class="form__label">Especialidad</label>
                                        <p class="form__paragraph--error" th:if="${#fields.hasErrors('idEspecialidad')}" th:errors="*{idEspecialidad}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form__actions">
                                <button type="submit" class="btn btn__primary">Agregar</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            
            <div class="main__container main__container--spc-2">
                <div class="main__section">
                    <section class="main__section-title">
                        <h2 class="main__title">
                            Listado de médicos
                        </h2>
                        <p class="main__subtitle">
                            Estos son los médicos que han sido registrados
                        </p>
                    </section>
                </div>

                <div class="main__section">

                    <section class="main__section-list">
                        <div class="main__list">
                            <div class="list__item" th:each="medico : ${listaMedicos}">

                                <div class="list__info-container">
                                    <h2 class="list__info-title" th:text="${medico.getNombre()} + ' ' + ${medico.getPrimerApellido()} + ' ' + ${medico.getSegundoApellido()}">Luisa Viquez Chan</h2>
                                    <p class="list__info-subtitle" th:text="${medico.getNombreEspecialidad()}">Cardiología</p>
                                </div>

                                <div class="list__actions-container">
                                    <a href="/" th:href="@{/buscar-medico/{id}(id=${medico.getId()})}" class="btn__accion__elemento btn__modificar" title="Modificar Médico">
                                        <span class="lista__elemento__icono">
                                            <i class="fa-solid fa-pencil"></i>
                                        </span>
                                    </a>

                                    <a href="/" th:href="@{/deshabilitar-medico/{id}(id=${medico.getId()})}" class="btn__accion__elemento btn__eliminar" title="Eliminar Médico">
                                        <span class="lista__elemento__icono">
                                            <i class="fa-solid fa-times"></i>
                                        </span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </section>

                </div>

            </div>
        </div>
    </main>

    <div th:replace="~{fragments::footer}"></div>

    <script src="../static/js/notificaciones.js" th:src="@{/js/notificaciones.js}"></script>
    <script src="../static/js/menuLateral.js" th:src="@{/js/menuLateral.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>