<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Especialidades</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_inputs.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_header.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_footer.css">

    <link rel="stylesheet" href="../static/css/compartidos/styles_main_wrapper.css">
    <link rel="stylesheet" href="../static/css/compartidos/styles_menu_lateral.css">

    <link rel="stylesheet" href="../static/css/registroEspecialidades.css">
    
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_inputs.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_notificaciones.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_header.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_main_wrapper.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_menu_lateral.css}">
    <link rel="stylesheet" th:href="@{/css/registroEspecialidades.css}">
    <link rel="stylesheet" th:href="@{/css/compartidos/styles_footer.css}">

</head>
<body>
    <div th:replace="~{fragments::header(mostrarOpcionesMenu=${true}, nombreUsuario=${nombreCompletoUsuario})}"></div>
    <div th:replace="~{fragments::notificacion(${mostrarNotificacion}, ${mensajeNotificacion})}"></div>

    <div class="contenedor__wrapper">
        <div th:replace="~{fragments::menuLateral(${usuarioEsAdmin}, ${idRolUsuario})}"></div>

        <main class="contenedor__principal">

            <div class="contenedor__principal__especialidades">
                <div class="contenedor__especialidades__section contenedor__especialidades__section__registro">
                    <section class="contenedor__titulo__principal">
                        <h2 class="titulo__principal">
                            Registro especialidad médica
                        </h2>
                        <p class="descripcion__principal">
                            Agregue una nueva especialidad al sistema
                        </p>
                    </section>
        
                    <section class="contenedor__formulario__especialidades">
                        <form th:action="@{/registro-especialidad}" method="post" class="formulario__registro" th:object="${especialidad}" novalidate>
                            <input type="hidden" th:field="*{id}">
                            <div class="formulario__section__input">
                                <div class="section__input__main">
                                    <div class="contenedor__input contenedor__input__sp2">
                                        <input type="text" class="input" id="nombreEspecialidad" placeholder="" th:field="*{descripcion}">
                                        <label for="nombreEspecialidad" class="input__label">Especialidad</label>
                                        <p class="input__error" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="formulario__section__button">
                                <button type="submit" class="btn btn__primary">Agregar</button>
                            </div>
                        </form>
                    </section>

                    <section class="contenedor__titulo__principal">
                        <h2 class="titulo__principal">
                            Especialidades registradas
                        </h2>
                        <p class="descripcion__principal">
                            Estas son las especialidades que han sido registradas
                        </p>
                    </section>

                    <section class="contenedor__listado__registros">
                        <div class="contenedor__listado">
                            <div class="lista__elemento" th:each="especialidad : ${listaEspecialidades}">
                                <input type="hidden" th:value="${especialidad.getId()}" name="idEspecialidad">
                                <a href="/" th:href="@{/buscar-especialidad/{id}(id=${especialidad.getId()})}" class="btn btn__lista__elemento">
                                    <span class="lista__elemento__icono">
                                        <i class="fa-solid fa-pencil"></i>
                                    </span>
                                    <span th:text="${especialidad.getDescripcion()}"></span>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="contenedor__especialidades__section">
                    <aside class="aside__ultimos__registros">
                        <h2 class="ultimas__especialidades__titulo">
                            Últimas especialidades ingresadas
                        </h2>
                        <div class="contenedor__especialidades__ingresadas">
                            <div class="especialidad__ingresada" th:each="ultEspecialidad : ${listaUltEspecialidades}">
                                <p class="especialidad__ingresada__nombre" th:text="${ultEspecialidad.getDescripcion()}">ABCDEF</p>
                                <p class="especialidad__ingresada__fechaRegistro" th:text="${ultEspecialidad.getFechaRegistro()}">01-01-1990</p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>

        </main>
    </div>

    <div th:replace="~{fragments::footer}"></div>

    <script src="../static/js/notificaciones.js" th:src="@{/js/notificaciones.js}"></script>
    <script src="../static/js/menuLateral.js" th:src="@{/js/menuLateral.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>