<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud Cambio Contraseña</title>
    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_text.css" th:href="@{/css/compartidos/styles_text.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_main_logout.css" th:href="@{/css/compartidos/styles_main_logout.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_form.css" th:href="@{/css/compartidos/styles_form.css}">

    <link rel="stylesheet" href="../static/css/solicitudCambioContrasenna.css" th:href="@{/css/solicitudCambioContrasenna.css}">
</head>
<body>
    <main class="main">
        <div class="main__content">
            <section class="main__section-content">
                <h2 class="main__title">
                    Solicitar Recuperación de Contraseña
                </h2>
            </section>

            <section class="main__section-content">
                <form th:action="@{/procesarRecuperacion}" method="post" class="form" th:object="${usuario}" novalidate>
                    <input type="hidden" th:field="*{contrasenna}">

                    <section class="form__section">
                        <div class="form__subtitle-section">
                            <p class="form__legend">
                                Ingrese el correo de contacto
                            </p>
                        </div>
                        <div class="form__inputs-section">
                            <div class="form__group form__group--spc-2">
                                <input type="email" class="form__input" id="correo" placeholder="" th:field="*{correo}">
                                <label for="correo" class="form__label">Correo</label>
                                <p class="form__paragraph--error" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></p>
                            </div>
                        </div>
                    </section>

                    <section class="form__section">
                        <p class="form__paragraph">
                            Si el correo se encuentra registrado en el sistema, se le enviará un código OTP para que realice el cambio de contraseña.
                        </p>
                    </section>

                    <section class="form__actions">
                        <button type="submit" class="btn btn__primary">Generar y Enviar</button>
                    </section>
                </form>
            </section>

        </div>
    </main>
</body>
</html>