<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" lang="es" xmlns="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de código</title>

    <link rel="stylesheet" href="../static/css/compartidos/styles_fonts.css" th:href="@{/css/compartidos/styles_fonts.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_resetElements.css" th:href="@{/css/compartidos/styles_resetElements.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_colors.css" th:href="@{/css/compartidos/styles_colors.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_inputs.css" th:href="@{/css/compartidos/styles_inputs.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_buttons.css" th:href="@{/css/compartidos/styles_buttons.css}">
    <link rel="stylesheet" href="../static/css/compartidos/styles_notificaciones.css" th:href="@{/css/compartidos/styles_notificaciones.css}">

    <link rel="stylesheet" href="../static/css/verificacionCodigo.css" th:href="@{/css/verificacionCodigo.css}">
</head>
<body>
    <!-- NOTIFICACIÓN DE CÓDIGO ENVIADO -->
    <div th:replace="~{fragments::notificacion(${mostrarNotificacion}, ${tipoNotificacion}, ${titulo}, ${detalle})}"></div>
    
    <main class="main__wrapper">
        <div class="contenedor__principal__formulario">
            <form th:action="@{/procesarVerificacion}" method="post" class="formulario__reset" th:object="${codigoOTP}" novalidate>
                <input type="hidden" name="correo" th:value="${correo}">
                <section class="formulario__row__section">
                    <h2 class="formulario__titulo">
                        Verificación de Código
                    </h2>
                </section>
                <section class="formulario__row__section">
                    <div class="formulario__section__input">
                        <div class="section__input__encabezado">
                            <p class="section__input__parrafo">
                                Ingrese el código recibido
                            </p>
                        </div>
                        <div class="section__input__main">
                            <div class="contenedor__input">
                                <input type="text" class="input" id="codigo" placeholder="" th:field="*{codigoGenerado}" maxlength="6">
                                <label for="codigo" class="input__label">Código</label>
                                <p class="input__error" th:if="${#fields.hasErrors('codigoGenerado')}" th:errors="*{codigoGenerado}"></p>
                                <p class="input__error" th:if="${mostrarMensajeDeIncorrecto}">El código no es correcto. Inténtelo nuevamente.</p>
                                <p class="input__error" th:if="${mostrarMensajeDeExpirado}">El código ha expirado.
                                    <a th:href="@{/recuperarContrasenna}"  class="enlace enlace__cambio__contrasenna">Solicitar nuevo</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="formulario__row__section" th:if="${!mostrarMensajeDeExpirado}">
                    <button type="submit" class="btn btn__primary">Verificar</button>
                </section>
                <section class="formulario__row__section formulario__row__section--mensaje" th:if="${!mostrarMensajeDeExpirado}">
                    <p class="parrafo parrafo__formulario parrafo__formulario--mensaje">
                        ¿No recibió el código de seguridad?
                    </p>
                    <button type="submit" class="btn--enlace" th:formaction="@{/reenviarCodigoReset}">Reenviar código</button>
                </section>
            </form>
        </div>
    </main>
    <script src="../static/js/notificaciones.js" th:src="@{/js/notificaciones.js}"></script>
    <script src="https://kit.fontawesome.com/1de8be47a9.js" crossorigin="anonymous"></script>
</body>
</html>